
#loader{
	position: fixed;
	width: 100%;
	height: 100vh;
	background: #21242d url('https://raw.githubusercontent.com/qmgbk/tnextone/main/image-processing-begin-service.gif') no-repeat center;
	z-index: 999;
}
